# Adafruit Metro M4 Express board configuration

# Copyright (c) 2022 Frank Dischner <frank.dischner@gmail.com>
# SPDX-License-Identifier: Apache-2.0

config BOARD
	default "adafruit_metro_m4_express"
	depends on BOARD_ADAFRUIT_METRO_M4_EXPRESS
